@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html ng-app="course">
<head>

    @Html.Raw(JavaScriptSnippet.FullScript)
    <script src="~/node_modules/angular/angular.min.js"></script>
    <script src="~/node_modules/angular-route/angular-route.js"></script>
    <script src="~/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script src="~/node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="~/js/app.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crowdfound</title>

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="~/css/prettyPhoto.css" />
    <link rel="stylesheet" href="~/css/flexslider.css" />
    <link rel="stylesheet" href="~/css/custom-styles.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114.png">

    <!-- JS
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });</script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.custom.js"></script>
    <script>
        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            })
        });

    </script>
</head>
<body class="home">

    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container">

        <div class="row header">
            <!-- Begin Header -->
            <!-- Logo
            ================================================== -->
            <div class="span5 logo">
                <a href="index.htm"><img src="img/piccolo-logo.png" alt="" /></a>
                <h5>Big Things... Small Packages</h5>
            </div>

            <!-- Main Navigation
            ================================================== -->
            <div class="span7 navigation">
                <div class="navbar hidden-phone">

                    <ul class="nav">
                        <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">{{'Home' | translate}}</a>
                        </li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">{{'About' | translate}}</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Projects">{{'Projects'| translate}}</a></li>
                        @if( User.IsInRole("admin") )
                        { 
                        <li><a asp-area="" asp-controller="Admin" asp-action="AdminPage">{{'AdminPage'| translate}}</a></li> 
                        }
                        @if(User.IsInRole("admin") || User.IsInRole("user") || User.IsInRole("userConfirmed"))
                        <li><a asp-area="" asp-controller="Home" asp-action="Profile">{{'Profile'| translate}}</a></li> 
                        } 
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Project">Project</a></li>
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>

                </div>

               
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2017 - Course_with_angular</p>
                </footer>
            </div>
            
            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("Scripts", required: false)



</body>
</html>