
@{
    ViewData["Title"] = "GetProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <!-- Gallery Items
    ================================================== -->
    <div class="span12 gallery-single">

        <div class="row">
            <div class="span6">
                <img src="img/gallery/gallery-img-1-full.jpg" class="align-left thumbnail" alt="image">
            </div>
            <div class="span6">
                <h2>Project Name</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>

                <ul class="project-info">
                    <li><h6>Date of the end:</h6> 09/12/15</li>
                    <li><h6>Aims:</h6> some aim description</li>
                    <li><h6>Finance aim:</h6> NNN$</li>
                    <li><h6>Finance current:</h6> MMM$</li>
                    <li><h6>Author:</h6> Jane Doe</li>
                    <li><h6>Tags:</h6> #smt1 #smth2 #smth3</li>
                </ul>

                <h6 ">AIM: <small>Name or description of aim</small></h6>
                <div class="progress progress-success progress-striped">
                    <div class="bar" style="width: 40%"></div>
                </div>
                <h6>Please, enter your mark for this project</h6>
                <div class="span6">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" name="reviewStars" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" name="reviewStars" />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" name="reviewStars" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" name="reviewStars" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" name="reviewStars" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
                <button class="btn btn-large btn-warning pull-left" type="button">Donate</button>
                <a href="#" class="pull-right"><i class="icon-arrow-left"></i>Back to Gallery</a>
            </div>
        </div>

    </div><!-- End gallery-single-->

    <div class="span12">
        <h4 class="title-bg">Your comments to this project</h4>
        <div class="row ">
            <div class="span6">
                <form><p><textarea name="textarea" class="span6"></textarea></p></form>
            </div>
            @foreach(var comment in ViewBag.Project.comments)
            <div class="span6">
                <button class="btn btn-large " type="button">Add comment</button>
            </div>
            <div class="well span8 comment">
                <h6 class="title-bg"><small>Person ¹1 comment</small></h6>In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.
            </div>
            <div class="well span8 comment">
                <h6 class="title-bg"><small>Person ¹1 comment</small></h6>In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.
            </div>
        </div>
    </div>
</div>


