@{
    ViewData["Title"] = "GetProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/singleProject.js"></script>
<div class="row" ng-controller="getProject">
    <input type="hidden" id="ProjectId" value="@ViewBag.Project.Id" name="ProjectId" ng-model="ProjectId" />
    <input type="hidden" id="UserId" value="@ViewBag.Project.UserId" name="UserId" ng-model="UserId" />
    <input type="hidden" id="UserName" value="@ViewBag.Project.UserName" name="UserName" ng-model="Author" />
    <!-- Gallery Items
    ================================================== -->
    <div class="span12 gallery-single SingleProject">

        <div class="row">
            <div class="span6">
                <img src="img/gallery/gallery-img-1-full.jpg" class="align-left thumbnail" alt="image">
            </div>
            <div class="span6">
                <h2>{{ response.Title}}</h2>

                <p>{{ response.Conten}}t</p>

                <ul class="project-info">
                    <li><h6>{{"DateOfEnd" | translate}}</h6> {{response.DateOfEnd}}</li>
                    <li><h6>{{"Aims" | translate}}</h6> {{ response.Description}}</li>
                    <li><h6>{{"FinanceAim" | translate}}</h6> {{ response.Project.Finance}} $ </li>
                    <li><h6>{{"FinanceCurrent" | translate}}</h6> {{ response.Project.FinanceCurrent}}</li>
                    <li><h6>{{"ProjectAuthor" | translate}}</h6> {{ response.Project.Author.Name}}</li>
                    <li><h6>{{"RateOfProject" | translate}}</h6> {{ response.Project.Rate}}</li>
                    <li>
                        <h6>{{"Tags" | translate}}:</h6><p ng-repeat=" tag in response.Project.Tags">#{{tag}}</p>
                    </li>
                </ul>

                <h6 ">AIM: <small>{{"ProjectStatus" | translate}}</small></h6>
                <div class="progress progress-success progress-striped">
                    <div class="bar" style="width: " +"{{ response.Project.Progress}}"></div>
                </div>
                <h6>{{"PleaseRate" | translate}}</h6>
                <div class="span6">
                    <div id="reviewStars-input">
                        <input id="star-4" type="radio" class="Rating" ng-click="setCurrentRate(4)" name="reviewStars" />
                        <label title="gorgeous" for="star-4"></label>

                        <input id="star-3" type="radio" class="Rating" ng-click="setCurrentRate(4)" name="reviewStars" />
                        <label title="good" for="star-3"></label>

                        <input id="star-2" type="radio" class="Rating" ng-click="setCurrentRate(4)" name="reviewStars" />
                        <label title="regular" for="star-2"></label>

                        <input id="star-1" type="radio" class="Rating" ng-click="setCurrentRate(4)" name="reviewStars" />
                        <label title="poor" for="star-1"></label>

                        <input id="star-0" type="radio" class="Rating" ng-click="setCurrentRate(4)" name="reviewStars" />
                        <label title="bad" for="star-0"></label>
                    </div>
                </div>
                <button class="btn btn-large btn-warning pull-left" ng-click="Donate()" type="button">{{"Donate"|translate}}</button>
                <a href="#" class="pull-right"><i class="icon-arrow-left"></i>Back to Gallery</a>
            </div>
        </div>

    </div><!-- End gallery-single-->

    <div class="span12">
        <h4 class="title-bg">{{"CommentsToProject" | translate}}</h4>
        <div class="row ">
            <div class="span6">
                <form>
                    <div class="span6">
                        <form><p><textarea name="textarea" class="span6" ng-model="comment.Contain"></textarea></p></form>
                    </div>
                    <div class="span6">
                        <button class="btn btn-large " type="button" ng-click="addComment(comment)">{{"AddComment" | translate}}</button>
                    </div>
                </form>
                <clabel ng-if="{{response.Comments.length}}!=0">
                    <div class="well span8 comment" ng-repeat="comment in response.Comments">
                        <h6 class="title-bg"><small>{{comment.Author}} </small></h6>
                        {{comment.Contain}}
                        <p>{{'COMMENTTIME'| translate}} {{comment.Time}} </p>
                    </div>
                </clabel>
                <p ng-if="{{response.Comments.length}}!=0">{{'LEAVECOMMENT' | translate}}</p>
            </div>
        </div>
    </div>





