@{

    ViewBag.Title = "Main Page";

}
<head>
    <style>
        /*img{
            width:300px;
            height:300px;
        }*/
        .item{
            display:block;
            float:none;
        }
    </style>
</head>
<body>
    <div class="description">
       <h1>We are glad to see you on our website!There are some projects,that may be insteresting for you:)</h1> 
    </div>

