@{

    ViewBag.Title = "Main Page";

}
<head>
    <style>
        /*img{
            width:300px;
            height:300px;
        }*/
        .item{
            display:block;
            float:none;
        }
    </style>
  
</head>
<body>
    
    <!-- Blog Content

    ================================================== --> 

    <div class="row">

        <!-- Blog Posts
        ================================================== --> 
        
        
        <div class="span4 ">
            <h5 class="title-bg">Popular Users</h5>
            <ul class="popular-posts TopUser" ng-controller="loadUsers">
                <div>{{$users}}</div>
                <li ng-repeat='user in users'>
                    <a href="/Project/GetUser?id="+user.Id><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                    <h6>{{user.UserName}}</h6>
                    <em>{{user.Rate}}<em>
                    <h6>{{user.ProjectsAmount}}</h6>
                </li>
            </ul>

            <!--Tabbed Content-->
        </div>
        



        <div ng-controller="TodoListController as todoList">
            
           
            <ul class="unstyled">
                <li ng-repeat="todo in todoList.todos">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                    </label>
                </li>
            </ul>
        </div>






            <div class="span4 ">
                <h5 class="title-bg">News</h5>
                <ul class="popular-posts TopNews" ng-controller="loadNews as news">
                    <li ng-repeat='fact in news.arr'>
                        <a href="/Project/GetProject?id=" +fact.Id><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6>{{fact.Content}}</h6>
                        <em>{{fact.Date}}</em>
                    </li>
                </ul>

                <!--Tabbed Content-->
            </div>
            <div class="span8 blog " ng-controller='loadProjects'>
                <h4 class="title-bg span12">TOP-5 OUR PROJECTS</h4>

                <!-- Blog Post 1 -->
                <article ng-repeat='project in projects[0]' class="clearfix">
                    <div>{{project}}</div>
                    <a href="/Project/GetProject?id=" +project.Id><img src="img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h5 class="title-bg">{{project.Id}}</h5>
                    <p>{{project.Content}}</p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i>{{project.Date}}</li>
                            <li><i class="icon-user"></i> <a href="#">{{project.UserName}}</a></li>
                            <li><i class="icon-comment"></i>{{CommentsAmount}}</li>
                            <li><i class="icon-tags"></i><i ng-repeat='tag in project.tags'>{{tag.Text}}</i></li>
                        </ul>
                    </div>
                </article>
            </div>




            <div class="span8 blog " ng-controller='loadNewProjects as projects'>
                <h4 class="title-bg span12">OUR NEW PROJECTS</h4>
                <article ng-repear='project in projects' class="clearfix NewProject">
                    <a href="/Project/GetProject?id=" +project.Id><img src="img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h5 class="title-bg">{{project.Title}}</h5>
                    <p>Project.Content</p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i>{{project.Date}}</li>
                            <li><i class="icon-user"></i> <a href="#">project.User.Name</a></li>
                            <li><i class="icon-comment"></i>{{CommentsAmount}}</li>
                            <li><i class="icon-tags"></i><i ng-repeat='tag in roject.tags'>{{tag.Text}}</i></li>
                        </ul>
                    </div>
                </article>
                <button class="btn btn-mini btn-inverse" type="button" ng-click="loadMore(projects.arr)">View more</button>
            </div>

            <!-- Blog Sidebar
        ================================================== -->
            <script src="~/js/loader.js"></script>
        </div>
    
    </div>  <!-- End Container -->

    <!-- Scroll to Top -->  
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>


    @*<div  ng-controller='numbersController'>
        <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
            <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
        </div>
    </div>*@



@*<div ng-controller="TestEverything">
    <p>
        <button ng-click="loadNews()" value="loadMore" />
    </p>
  
    <button ng-click="loadTopMoney()" value="loadTopMoney"/>
    <p></p>
    <button ng-click="loadNewProjects()" value="loadNewProjects"/>
    <p>

    </p>
    <button ng-click="loadTopProjects()" value="loadTopProjects" />
    <p></p>
     <button ng-click="loadUsers()" value="loadUsers"/><p></p>
    <button ng-click="getTags()" value= "getTags" /><p></p>
    <input type="text" ng-model="id"><p></p>
    <button ng-click="deleteUser(id)" value="deleteuser"/><p></p>
    <button ng-click="confirmUser(id)" value="confirmUser"/><p></p>
     <input type="text" ng-model="confirmation"><p></p>
    <button ng-click="passConfirmation(confirmation)" value="passconfirmation"/><p></p>
    <button ng-click="blockUser(id)" value="blockUSer"/><p></p>
    <input type="text" ng-model="title"/>
    <button ng-click="getProject(title)" value="getProject">getProject</button>

    <input type="text"  ng-model="rate"/>
    <button ng-click="setRate(rate)" value="setRate">setRate</button>


     <input type="text" ng-model="UserStatus">
    <button ng-click="setStatus(UserStatus)" value="setStatus"/>


   


   
    
    <input type="text" ng-model="payment.sum">
    <button ng-click="pay(payment)" value="pay"/>
    <input type="text" ng-model="id"/>
    <button ng-click="subscribe(id)" value="subscribe"/>

    <form>
        <div class="span6">
                    <form><p><textarea name="textarea" class="span6" ng-model="color"></textarea></p></form>
                </div>
                <div class="span6"> 
                    <button class="btn btn-large " type="button" ng-click="changeColor(color)">change color</button>
                </div>
    </form>

    <form>
        <div class="span6">
                    <form><p><textarea name="textarea" class="span6" ng-model="language"></textarea></p></form>
                </div>
                <div class="span6"> 
                    <button class="btn btn-large " type="button" ng-click="changeLanguage(language)">change language</button>
                </div>
    </form>

    <form>
        <div class="span6">
                    <form><p><textarea name="textarea" class="span6" ng-model="query"></textarea></p></form>
                </div>
                <div class="span6"> 
                    <button class="btn btn-large " type="button" ng-click="sendQuery(query)">send query</button>
                </div>
    </form>

    
    
    </div>*@
