
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container">
    <script src="~/js/profile.js"></script>
    <div class="row header">
        <!-- Begin Header -->
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <a href="index.htm"><img src="img/piccolo-logo.png" alt="" /></a>
            <h5>Big Things... Small Packages</h5>
        </div>


    <div class="row">
        <!--Container row-->
        <!-- Blog Full Post
        ================================================== -->
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            <h4 class="title-bg"><a name="comments"></a>Profile</h4>

            <!-- About the Author -->
            <section class="post-content">
                <div class="post-body about-author">
                    <img src="~img/author-avatar.jpg" alt="author">
                    <h4>Nathan Brown</h4>
                    Some very interesting information about user
                </div>
                <p></p>
                <ul class="project-info ">
                    <li><h6>Email:</h6> dfsdj@gmail.com</li>
                    <li><h6>Registration date:</h6> 22.22.22</li>
                    <li><h6>Status:</h6> confirmed</li>
                    <li><h6>Number of projects:</h6> MMM</li>
                    <li><h6>Projects:</h6> </li>
                </ul>
                <ul class="popular-posts">
                    <li>
                        <p class="span2"></p>
                        <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></h6>
                        <em>Posted on 09/01/15</em>
                    </li>
                    <li>
                        <p class="span2"></p>
                        <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6><a href="#">Nulla iaculis mattis lorem, quis gravida nunc iaculis</a></h6>
                        <em>Posted on 09/01/15</em>
                    <li>
                        <p class="span2"></p>
                        <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                        <h6><a href="#">Vivamus tincidunt sem eu magna varius elementum maecenas felis</a></h6>
                        <em>Posted on 09/01/15</em>
                    </li>
                </ul>


            </section>

            <!-- Post Comments
            ================================================== -->
            <!-- Comment Form -->


        </div><!--Close container row-->
        <!-- Blog Sidebar
        ================================================== -->
        <div class="span4 sidebar blog">
            <p class="span4"></p>
            <p class="span4"></p>
            <p class="span4"></p>
            <p class="span4"></p>


            <!--Search-->
            <div class="row" ng-controller="themeController">
                <h4 class="span2">Choose theme </h4>
                <button class="btn pull-right span1 " type="button" ng-click="changeTheme('light')">Light</button>
                <button class="btn btn-inverse pull-right span1" type="button" ng-click="changeLanguage('dark')" >Dark</button>
            </div>
            <div class="row">
                <h4 class="span2">Choose language </h4>
                <p class="span2" ng-controller="translateController">
                    <button class="btn btn-inverse pull-right span1" ng-click="changeLanguage('en')">English</button>
                    <button class="btn btn-inverse pull-right span1" ng-click="changeLanguage('ru')">Русский</button>
                </p>
            </div>
            <div class="row">
                <h4 class="span2">Verify registration </h4>
                <button class="btn pull-right span1 " type="button" ><a href="http://localhost:45689/Home/VerifyForm">Form</a></button>
            </div>
            <div class="row">
                <h4 class="span2">Make new project </h4>
                <button class="btn pull-right span1 " type="button"><a href="http://localhost:45689/Home/Project">Create project</a></abbr></button>
            </div>

            <!--Popular Posts-->
            <!--Tabbed Content-->
        </div>

    </div>

</div> 

