@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
    <form action="/Home/Project" method="post">
        <input name="Title" value="" />
        <input name="Description" value="" />
        <input name="DateOfEnd" value="" />
        <input type="submit" />
    </form>
</body>
</html>
