
@{
    ViewData["Title"] = "Test";
}


    <div ng-controller="translateController">
        <h1>Demo for angularJS translator</h1>

        <div>
            <button ng-click="changeLanguage('en')">English</button>
            <button ng-click="changeLanguage('ru')">Русский</button>
        </div>

        <h2>{{'language' | translate}}</h2>

        Hello!!!

        <p>{{'greeting' | translate}}</p>

    </div>
</body>


